<div 
  v-if="normalizedVersions.length > 1"
  class="version-selector"
  :class="[customClass, { active: isOpen, disabled: disabled }]"
>
  <div @click="toggleDropdown" class="version-selector-trigger">
    <span>{{ currentVersion.startsWith('v') ? currentVersion : 'v' + currentVersion }}</span>
  </div>
  <transition name="fade">
    <div v-if="isOpen" class="version-dropdown">
      <div 
        v-for="item in normalizedVersions" 
        :key="item.version"
        @click="selectVersion(item.version)"
        class="version-item"
        :class="{ current: item.version === currentVersion }"
      >
        {{ item.version.startsWith('v') ? item.version : 'v' + item.version }}
      </div>
    </div>
  </transition>
</div>
